<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-full bg-zinc-500">
    <h1 class="text-4xl text-center text-black m-4">Update User</h1>
    <div>
        <form action="/update/<%= user.Id %>" method="post" class="flex flex-col items-center text-center p-8 rounded-lg max-w-sm mx-auto">
            <label for="name" class="block text-left mb-2 font-medium text-2xl">Name </label>
            <input type="text" name="name" id="name" class="w-full px-4 py-2 border border-gray-300 rounded-md outline-none" placeholder="Update your Name">
            <br/>
                <label for="email" class="block text-left mb-2 font-medium text-2xl">E-Mail </label>
                <input type="text" name="email" id="email" class="w-full px-4 py-2 border border-gray-300 rounded-md outline-none" placeholder="Update your E-Mail">
                <br/>
                 <label for="age" class="block text-left mb-2 font-medium text-2xl">Age </label>
            <input type="text" name="age" id="age" class="w-full px-4 py-2 border border-gray-300 rounded-md outline-none" placeholder="Update your Age">
            <br/>
            <label for="gender" class="block text-left mb-2 font-medium text-2xl">Gender </label>
            <div class="flex items-center space-x-4 mt-4">
                <div class="items-center flex">
                <input type="radio" name="gender" id="male" class="form-radio text-blue-500 focus:ring-blue-500">
                <label for="male" class="ml-2 text-black">Male</label>
            </div>
            <div class="items-center flex">
                <input type="radio" name="gender" id="female" class="form-radio text-blue-500 focus:ring-blue-500">
                <label for="female" class="ml-2 text-black">Female</label>
            </div>
            </div>
            <br/>
            <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Update User</button>
        </form>
    </div>
</body>
</html>